adal==1.1.0
adns-python==1.2.1
alembic==1.0.0.dev0
ansible==2.5.4
antlr4-python3-runtime==4.7.1
anyjson==0.3.3
apache-libcloud==2.3.0
applicationinsights==0.11.7
argcomplete==1.8.1
argh==0.26.2
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
azure-cli-core==2.0.46
azure-cli-nspkg==3.0.3
azure-cli-telemetry==1.0.0
azure-common==1.1.16
azure-mgmt-batch==4.1.0
azure-mgmt-compute==2.1.0
azure-mgmt-containerinstance==1.1.0
azure-mgmt-containerregistry==2.2.0
azure-mgmt-containerservice==2.0.0
azure-mgmt-dns==1.2.0
azure-mgmt-keyvault==0.40.0
azure-mgmt-network==1.7.1
azure-mgmt-nspkg==3.0.2
azure-mgmt-rdbms==0.2.0rc1
azure-mgmt-resource==1.2.2
azure-mgmt-sql==0.7.1
azure-mgmt-storage==1.5.0
azure-mgmt-web==0.32.0
azure-nspkg==3.0.2
azure-storage==0.35.1
Babel==2.6.0
backdoor-factory==0.0.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
BBQSQL==1.0
bcrypt==3.1.4
bdfproxy==0.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.3
BlindElephant==1.0
blinker==1.4
boto==2.49.0
boto3==1.9.18
botocore==1.12.18
capstone==3.0.5
cbor==1.0.0
certifi==2018.8.24
chardet==3.0.4
CherryTree==0.38.5
## FIXME: could not find svn URL in dependency_links for this package:
chirp===daily-20180815
click==7.0.dev0
colorama==0.3.9
ConfigArgParse==0.13.0
configobj==5.0.6
configparser==3.5.0b2
constantly==15.1.0
construct==2.8.16
couchdbkit==0.6.5
cryptography==2.3
cycler==0.10.0
Cython==0.28.4
debtcollector==1.20.0
decorator==4.3.0
deprecation==2.0.6
dhcpig==0.0.0
dicttoxml==1.7.4
distorm3==3.3.4
dnslib==0.9.7
dnspython==1.15.0
docutils==0.14
dopy==0.3.5
easygui==0.96
EasyProcess==0.2.3
EditorConfig==0.12.1
Elixir==0.7.1
entrypoints==0.2.3.post3
enum34==1.1.6
et-xmlfile==1.0.1
feedparser==5.2.1
filedepot==0.5.2
filteralchemy==0.1.0
Flask==1.0.2
Flask-BabelEx==0.9.3
Flask-Classful==0.14.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
funcsigs==1.0.2
fuse-python==0.3.1
future==0.15.2
futures==3.2.0
fuzzywuzzy==0.16.0
GDAL==2.3.2
GeoIP==1.3.2
gevent==1.3.6
greenlet==0.4.15
h2==3.0.1
halberd==0.2.4
hpack==3.0.0
html2text==2018.1.9
html5lib==1.0.1
http-parser==0.8.3
httplib2==0.11.3
humanfriendly==4.16.1
hyperframe==5.1.0
hyperlink==17.3.1
idna==2.6
impacket==0.9.15
incremental==16.10.1
ip-associations-python-novaclient-ext==0.2
ipaddress==1.0.17
IPy==0.83
ipython==5.5.0
ipython-genutils==0.2.0
iso8601==0.1.12
isodate==0.6.0
itsdangerous==0.24
jdcal==1.0
Jinja2==2.10
jmespath==0.9.3
jsbeautifier==1.6.4
jsonpickle==0.9.5
jsonrpclib==0.1.7
keyring==15.1.0
keyrings.alt==3.1
keystoneauth1==3.11.0
killerbee==1.0
kiwisolver==1.0.1
knack==0.4.3
linode-python==1.1.1
lxml==4.2.5
lz4==1.1.0
M2Crypto==0.27.0
Mako==1.0.7
MarkupSafe==1.0
marshmallow==3.0.0b3
marshmallow-sqlalchemy==0.14.1
matplotlib==2.2.2
mechanize==0.2.5
mercurial==4.7.2
metaconfig==0.1.4a1
mock==2.0.0
mockito==0.5.2
monotonic==1.5
more-itertools==4.2.0
msgpack==0.5.6
msrest==0.5.5
msrestazure==0.4.34
mysqlclient==1.3.10
nassl==0.12
netaddr==0.7.19
NetfilterQueue==0.6
netifaces==0.10.7
NfSpy==1.0
nplusone==1.0.0
numpy==1.14.5
oauthlib==2.1.0
olefile==0.46
openpyxl==2.4.9
os-diskconfig-python-novaclient-ext==0.1.3
os-networksv2-python-novaclient-ext==0.26
os-service-types==1.3.0
os-virtual-interfacesv2-python-novaclient-ext==0.20
oslo.config==6.5.1
oslo.i18n==3.22.1
oslo.serialization==2.28.1
oslo.utils==3.37.0
OWSLib==0.17.0
packaging==18.0
PAM==0.4.2
paramiko==2.4.0
passlib==1.7.1
pathlib2==2.3.2
pathtools==0.1.2
pbkdf2==1.3
pbr==1.10.0
pcapy==0.10.8
peepdf==0.4.1
pefile==2018.8.8
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pluggy==0.6.0
ply==3.11
portalocker==1.2.1
prettytable==0.7.2
prompt-toolkit==1.0.15
psycopg2==2.7.5
py==1.6.0
py-ubjson==0.12.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.6.1
pycurl==7.43.0.1
pydns==2.3.6
pydot==1.2.4
pyenchant==2.0.0
Pygments==2.2.0
PyGObject==3.30.1
pygtkspellcheck==4.0.5
pyinotify==0.9.6
PyJWT==1.6.4
pymongo==3.7.1
pymssql==2.1.3
PyNaCl==1.2.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyperclip==1.6.4
pyproj==1.9.5.1
pyrax==1.9.8
PyRIC==0.1.6
pyrit==0.5.1
pyscard==1.9.7
pyserial==3.4
pysmi==0.2.2
pysnmp==5.0.0
pysnmp-apps==0.3.2
pysnmp-mibs==0.1.3
PySocks==1.6.8
pyspatialite==3.0.1
pysqlite==2.7.0
pytest==3.6.4
python-dateutil==2.6.1
python-editor==1.0.3
python-keystoneclient==3.17.0
python-Levenshtein==0.12.0
python-magic==0.4.16
python-novaclient==2.27.0
python-slugify==1.2.5
python-snappy==0.5.3
pythonaes==1.0
PyTrie==0.2
pytz==2018.5
pyusb==1.0.2
PyVirtualDisplay==0.2.1
PyX==0.12.1
pyxdg==0.25
PyYAML==3.12
qrcode==6.0
qt4reactor==1.0
rackspace-auth-openstack==1.3
rackspace-novaclient==2.1
rax-default-network-flags-python-novaclient-ext==0.4.0
rax-scheduled-images-python-novaclient-ext==0.3.1
requests==2.18.4
requests-oauthlib==1.0.0
restkit==4.2.2
rfc3986==1.1.0
rfidiot==1.0
roguehostapd==1.2.3
roman==2.0.0
rsa==3.4.2
s3transfer==0.1.13
scandir==1.9.0
scapy==2.4.0
SecretStorage==2.3.1
selenium==3.8.0
service-identity==16.0.0
Shapely==1.6.4
simplegeneric==0.8.1
simplejson==3.15.0
singledispatch==3.4.0.3
six==1.11.0
slowaes==0.1a1
socketpool==0.5.3
speaklater==1.3
SQLAlchemy==1.2.8
sqlalchemy-schemadisplay==1.3
stevedore==1.29.0
subprocess32==3.5.2
suricatasc==0.9
tabulate==0.8.2
tcpwatch==1.3.1
termcolor==1.1.0
terminaltables==3.1.0
tornado==5.1.1
tqdm==4.23.4
traitlets==4.3.2
trollius==2.0.1
Twisted==18.7.0
txaio==2.8.1
typing==3.6.6
u-msgpack-python==2.1
ua-parser==0.8.0
Unidecode==1.0.22
urllib3==1.22
urwid==2.0.1
user-agents==1.1.0
uTidylib==0.3
vinetto==0.7b0
volatility==2.6
wapiti==2.3.0
watchdog==0.8.3
wcwidth==0.1.7
webargs==4.0.0
webencodings==0.5
websocket-client==0.53.0
webunit==1.3.10
Werkzeug==0.14.1
wfuzz==2.2.11
Whoosh==2.7.4
wicd==1.7.4
wifiphisher==1.4
wifite==2.2.5
wrapt==1.10.11
wsaccel==0.6.2
WTForms==2.2.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
XlsxWriter==0.9.6
xmlbuilder==1.0
yara-python==3.8.0
zenmap==7.70
zim==0.68
zope.interface==4.3.2
